/* estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;700&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* las cajas se adaptan a los bordes */
    list-style: none;  /* saca estilo a las listas */
}
a{
    text-decoration: none;  /* saca subrayado, tachado */
    color: black;
}

/* estilos de inicio */
/* los display flex se aplican a los elementos padre, no a los hijos a menos que quiera individualizar su estilo */
.encabezado{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
    background-color: white;
    margin-top: 2vh;
}
.insta a:hover{
    color: rgb(165, 42, 93);
}
.navegador{
    display: flex;
    justify-content: space-between;
}
.navegador a{
    border-right: 2px solid rgb(216, 216, 216);
    padding-left: 25px;
    padding-right: 25px;
    list-style: none outside none;
}
.navegador a:last-child{
    border-right: none;
}
.navegador a:hover{
    text-decoration: none;
    color: rgb(44, 168, 177);
}
.redes{
    display: flex;
    gap: 40px;
}
.banner{
    background-image: url(../Media/afarecortada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 190px;
    opacity: 0.9;
    text-shadow: 3px 3px 2px black;
    width: 100%;
}
.infobanner:hover{
    background-color: rgb(210, 234, 255);
}
.estrellas{
    background-color: rgb(224, 246, 255);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.estrellas a:hover{
    color: goldenrod;
}
.estrellas strong{
    font-size: 30px;
    color: rgb(19, 19, 19);
}
.star{
    width: 75px;
}

footer{
    text-align: center;
    padding: 30px;
    color: rgba(128, 128, 128, 0.712);
    opacity: 80%;
}
footer a:hover{
    color: rgb(57, 106, 129);
}

/* estilos de plantel */
.imgfondo{
    background-image: url(../Media/afaformacion.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.introd{
    width: 100%;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.781);
    text-align: center;
    padding: 20px;
}
.introd p{
    font-size: 20px;
}
.fullteam{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.personas{
    padding: 10px;
    border-radius: 4mm;
    background-color: rgba(236, 236, 236, 0.795);
}
.personas li{
    text-align: left;
}

/* estilos de partidos */
.fondo{
    background-image: url(../Media/lusailtransparency.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(221, 212, 212);
    height: 850px;
}
.gridpartidos{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    grid-template-rows: repeat(2 200px);
    grid-template-columns: repeat(2 200px);
    gap: 20px;
    grid-template-areas: 
    "map fechas fechas"
    "map resultados resultados"
    ;        
}
.games{
    background-color: white;
    padding: 20px;
    border-radius: 4mm;
}
.map{
    grid-area: map;
    height: 400px;
    width: 450px;
}
.resultados{
    grid-area: resultados;    
}
.fechas{
    grid-area: fechas;
}
.fdegrupos{
    color: green;
    -webkit-text-stroke: 0.5px black;
}
.octavos{
    color: lightblue;
    -webkit-text-stroke: 0.5px black;
}
.cuartos{
    color: orange;
    -webkit-text-stroke: 0.5px black;
}
.semifinal{
    color: red;
    -webkit-text-stroke: 0.5px black;
}
.final{
    color: gold;
    -webkit-text-stroke: 0.5px black;
}

/* estilos de final */
.cuerpofinal{
    text-align: center;
    padding: 25px;
    background-color: azure;
    background-image: url(../Media/bandera-transparencia.png);
    background-position: center;
}
.cuerpofinal div iframe{
    width: 90%;
    height: 600px;
}

/* estilos de contacto */
.col{
    gap: 10px;
    padding: 10px;
    margin: 0px 20px;
}
.row{
    margin: 0px 20px;
    padding-top: 10px;
}
.contactform{
    text-align: center;
    padding: 20px;
}
.formulario1 div input{
    text-align: center;
    opacity: 0.9;
}
.mensajelargo{
    display: flex;
    justify-content: center;
}
.mensajelargo input{
    height: 100px;
    text-align: center;
    opacity: 0.9;
    width: 800px;
}
.finaltext{
    text-align: center;
    padding: 20px;
    margin-top: 220px;
}
.estrellasfinal{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.copadelmundo{
    background-image: url(../Media/copadelmundo.png);
    background-position: center;
    background-size: 70vh;
    background-repeat: no-repeat;
}

/* media queries para moviles */
@media (min-width: 360px) and (max-width: 780px){
    /* inicio */
    .encabezado{
        display: none;
    }
    .infobanner{
        display: none;
    }
    .banner{
        position: relative;
    }
    .titulobanner{
        font-size: x-large;
        position: absolute;
        top: 20%;
        left: 5%;
        right: 5%;
    }
    .parrafobanner{
        font-size: small;
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
    }
    .estrellas{
        padding: 10px;
        gap: 9px;
        font-size: smaller;
    }
    .estrellas p strong{
        font-size: 15px;
    }
    .estrellas p em a{
        font-size: small;
        color: rgb(113, 113, 255);
    }
    .piedepagina em a{
        font-size: smaller;
    }
    .star{
        width: 50px;
    }

    /* plantel */
    .introd h1 strong{
        font-size: 20px;
    }
    .introd p{
        font-size: 13px;
    }
    .fullteam{
        font-size: 15px;
        display: block;
    }
    .imgfondo{
        background-position: center;
    }
    .personas li{
        text-align: center;
    }

    /* partidos */
    .introd h2{
        font-size: 15px;
    }
    .introd p em{
        font-weight: bold;
    }
    .fondo{
        height: auto;
        background-size: cover;
    }
    .gridpartidos iframe{
        width: 120px;
        height: 300px;
    }
    .games{
        font-size: 10px;
        width: 200px;
    }

    /* final */
    .cuerpofinal h1 strong{
        font-size: large;
    }
    .cuerpofinal div iframe{
        height: auto;
    }

    /* contacto */
    .contactform h1{
        font-weight: bold;
        font-size: x-large;
    }
    .contactform p{
        font-size: small;
    }
    .nombreyap{
        display: flex;
        justify-content: center;
    }
    .formulario1 div input{
        width: 200px;
        text-align: center;
    }
    .finaltext{
        margin-top: 10px;
    }
}

/* fijarse que ningun archivo de media imagen o video tenga ancho y alto desde html */
@media (min-width: 781px){
    .navbar{
        display: none;
    }
}
